.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*Подключение шрифтов*/

@font-face {
font-family: 'Gilroy - Extra Bold';
src: url('fonts/gilroyextrabold.woff2') format('woff2'),
url('fonts/gilroyextrabold.woff') format('woff');
font-weight: 400;
}

@font-face {
font-family: 'Gilroy - Extra Bold';
src: url('fonts/gilroyextrabold.woff2') format('woff2'),
url('fonts/gilroyextrabold.woff') format('woff');
font-weight: 800;
}

@font-face {
font-family: 'Gilroy';
src: url('fonts/gilroylight.woff2') format('woff2'),
url('fonts/gilroylight.woff') format('woff');
font-weight: 300;
}

@font-face {
font-family: 'Open Sans';
src: url('fonts/opensans.woff2') format('woff2'),
url('fonts/opensans.woff') formmat('woff');
font-weight: 300;
}



@font-face {
font-family: 'Open Sans Light';
src: url('fonts/opensanslight.woff2') format('woff2'),
url('fonts/opensanslight.woff') format('woff');
font-weight: 300;
}



body {
	margin: 0;
	padding: 0;
	color: #000000;
}

a {
	text-decoration: none;
}


.container {
	width: 1160px;
	margin: 0 auto;

}


/*Хедэр - Логотип*/
.main-header-logo {
	margin-top: 20px;
}
.main-header-logo img {
	margin-left: 60px;
}
.main-header-logo a:hover,
.footer-logo a:hover {
	opacity: 0.6;
}
.main-header-logo a:active,
.footer-logo a:active{
	opacity: 0.3;
}






/*Хэдер - Цветовая часть*/
.wrapper-header{
	padding-top: 42px;
	padding-bottom: 165px;
	margin-top: -20px;
	background-color: #f7e296;


}




/*Хэдер - Навигация пользователя*/
.user-navigation {
	display: flex;
	justify-content: space-between;
    align-items: flex-start;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 35px;






}
/*Навигация пользователя - Форма (Поиск по сайту)*/
.user-navigation form {
	position: relative;

	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: baseline;
	width: 500px;




}

/*Поиск по сайту - Иконка*/
.user-navigation form::before {
	content: "";
	position: absolute;
	top: 9px;
	left: -11px;
	width: 16px;
	height: 16px;
	margin: auto 15px;
	background-image: url("img/search.svg");

}

/*Поиск по сайту - Поле ввода запроса*/
.user-navigation input[id="site-search"] {

	min-width: 355px;
	padding-left: 37px;
	background-color: #f7e296;
	border-color: transparent;
	outline: transparent;
	opacity: 0.3;
	font-family: "Open Sans";
	font-size: 15px;
	line-height: 30px;
	letter-spacing: 0.15px;
	color: #000000;

}
.user-navigation input[id="site-search"]:hover {
	opacity: 0.6;
}
.user-navigation input[id="site-search"]:focus {
	opacity: 1;
	border-bottom: 2px solid black;

}

/*Поиск по сайту - Кнопка "Найти"*/
.user-navigation input[id="button-search"] {
	display: none;


	margin-left: -2px;
	background-color: #f7e296;
	border: 2px solid #000000;
	outline: none;
	font-family: "Open Sans";
	font-size: 15px;
	line-height: 30px;
	letter-spacing: 0.15px;
	color: #000000;
}
.user-navigation input:focus ~ input[id="button-search"]  {
	display: block;
}
.user-navigation input[id="button-search"]:hover {
	background-color: #000000;
	color: #ffffff;
}
.user-navigation input[id="button-search"]:active {
	display: flex;
	color: #4c4c4c;
}

/*Навигация пользователя - Пользовательское меню*/
.user-menu {

	display: flex;
	justify-content: flex-end;
    align-items: baseline;
    width: 500px;
    margin: 0;
    padding: 0;
	list-style: none;



}

.user-menu li:first-child {
	margin-right: auto;
}

.user-menu li:last-child {
	margin-left: 40px;
}

.user-menu a {
	font-family: "Open Sans";
	font-size: 15px;
	font-weight: 300;
	line-height: 30px;
	letter-spacing: 0.15px;
	color: #000000;
}

.user-menu a:hover {
	opacity: 0.6;
}

.user-menu a:active {
	opacity: 0.3;
}

/*Пользовательское меню - Декоративные элементы*/
.login-link::before {
	display: inline-block;
	content: "";
	width: 13px;
	height: 12px;
	margin-right: 14px;
	background-image: url("img/user.svg");
}

.compare::before {
	display: inline-block;
	content: "";
	width: 10px;
	height: 10px;
	margin-right: 10px;
	background-image: url("img/compare.svg");
}

.cart::before {
	display: inline-block;
	content: "";
	width: 12px;
	height: 12px;
	margin-right: 10px;
	background-image: url("img/cart.svg");
}

.login-out {
	margin-right: 65px;
	opacity: 0.3;


}


/*Хэдер - Навигация по сайту*/
.main-navigation {

	margin-left: 60px;
	margin-right: 60px;
}

/*Навигация по сайту - Меню магазина*/
.site-navigation   {
	display: flex;
	align-items: baseline;
    margin: 0;
	padding: 0;
	list-style: none;




}


/*Меню магазина - Сетка меню*/
.site-navigation > li:first-child {
    position: relative;
    width: 500px;
    margin-right: 40px;






}

.site-navigation > li:not(:first-child):not(:last-child) {
	margin-right: 35px;




}

.site-navigation > li:last-child {
	margin-left: auto;
	margin-right: -3.6px;



}


/*Меню магазина - Ссылки*/
.site-navigation a {
    font-family: "Gilroy - Extra Bold";
	font-size: 18px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 3.6px;
	color: #000000;
}

.site-navigation a:hover {
	opacity: 0.5;
}

.site-navigation a:active {
	opacity: 0.3;
}


/*Меню магазина - Каталог товаров - Знак "+"*/
.site-navigation > li:first-child::after {
	display: inline-block;
	content: "";
	width: 16px;
	height: 16px;
	margin-left: 10px;
	background-image: url("img/plus.svg");
}

/*Меню магазина - Подменю*/
.sub-menu {
	position: absolute;
	top: 40px;
    left: 1px;
	display: flex;
	flex-wrap: wrap;
	width: 610px;

    margin: 0;
    padding: 0;
    padding-bottom: 37px;
    background-color: #f7e296;
    list-style: none;
    z-index: 1;
}

.sub-menu li  {
	width: 160px;
	margin-right: 40px;
}

.sub-menu li:nth-child(3n+1)  {
	width: 200px;



}
.sub-menu li:nth-child(3n+3)  {
	margin-right: 0;
}

.sub-menu li:nth-child(5)  {
	margin-right: 100px;
}




.sub-menu a {
	font-family: "Open Sans";

	font-size: 15px;
	line-height: 36px;
	letter-spacing: 0.15px;
	text-transform: none;
	color: #000000;
}

.sub-menu a:hover {
	opacity: 0.6;
}

.sub-menu a:active {
	opacity: 0.3;
}


/*Блок Слайдер*/
.main-slider {
	margin-top: -113px;
	margin-bottom: 90px;

	/*outline: 1px dotted black;*/
}

/*Сетка слайдера*/
.slide {
	position: relative;
	display: flex;
    justify-content: space-between;





}

/*Сетка слайдера - Блок изображения слайда*/
.slide-photo {
	box-sizing: border-box;
	width: 560px;
	text-align: center;

	/*outline: 1px dotted black;*/



}


.slide-photo img {



}

.slide-item-first img {

}


.slide-item-second img {
	margin-top: 15px;
	margin-left: 20px;

}


.slide-item-first {
 padding-bottom: 14px;

}

.slide-item-third {
 padding-bottom: 25px;




}

.slide-item-third img {
  margin-top: 67px;
  margin-left: 27px;



}

/*Сетка слайдера - Блок описания слайда*/
.slide-description {
	position: relative;
	width: 560px;
	margin-left: 10px;

	/*outline: 1px dotted black;*/

}





/*Описание слайда - Заголовок слайда*/
.slide-description h3 {
	margin-top: 0;
	margin-bottom: 20px;
	font-family: "Gilroy - Extra Bold";
	font-size: 47px;
	font-weight: 800;
	line-height: 56px;
	letter-spacing: 0.69px;
	text-align: left;
	color: #000000;
	z-index: 10;
}

/*Описание слайда - Номер слайда*/
.slide-description h3::after {
	position: absolute;
	top: -12px;
	right: 48px;
	content: "";
	font-family: "Gilroy - Extra Bold";
	font-size: 179px;
	font-weight: 400;
	line-height: 179.2px;
	letter-spacing: 0.36px;
	text-align: right;
	color: #ffffff;
	z-index: -1;
	background-color: #f7e29
}

.slide-item-first h3::after {
 	content: "01";
}
.slide-item-second h3::after {
 	content: "02";
}.slide-item-third h3::after {
  	content: "03";

}


/*Описание слайда - Описание товара*/
.slide-description p {


	font-family: "Open Sans Light";
	font-size: 15px;

	line-height: 30px;
	letter-spacing: 0.18px;
	text-align: left;
	color: #464646;

}

/*Описание слайда - Ссылка на товар*/
.slide-description a {
	position: relative;
	display: block;
	width: 220px;
	margin: 40px 0;
	padding: 10px 0;
	font-family: "Gilroy - Extra Bold";
	font-size: 18px;
	font-weight: 400;
	line-height: 24px;
	text-transform: uppercase;
	letter-spacing: 3.65px;
	text-align: center;
	color: #000000;
}


.slide-description a::before {
	content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 220px;
    height: 9px;
    background-color: #f0c52e;
    z-index: -1;
    transform: translateY(-50%);
    transition-duration: 0.3s;
    transition-timing-function: linear;

}

.slide-description a:hover::before {
	height: 40px;
}
.slide-description a:active::before {
	background-color: #000000;
}
.slide-description a:active {
	color: #f7e184;
}


/*Блок описания слайда - Характеристики товара (таблица)*/
.slide-description table {

	border-collapse: collapse;
	text-align: left;


}

.slide-description table td {

	padding-top: 10px;
	padding-right: 75px;
	padding-bottom: 10px;
	font-family: Gilroy;
	font-size: 36px;
	line-height: 44px;

	letter-spacing: 0.36px;
	color: #000000;


}

.slide-description table td:last-child {
	padding-right: 0px;

}


.slide-description table th {
	font-family: "Open Sans";
	font-size: 13px;

	line-height: 16px;
	letter-spacing: 0.13px;
	color: #464646;


}













/*Переключатель слайдов - Скрытие неактивных слайдов*/

input[id="slide-one"]:checked ~ .slide-item-second,
input[id="slide-one"]:checked ~ .slide-item-third {
  display: none;
}

input[id="slide-two"]:checked ~ .slide-item-first,
input[id="slide-two"]:checked ~ .slide-item-third {
  display: none;
}

input[id="slide-three"]:checked ~ .slide-item-first,
input[id="slide-three"]:checked ~ .slide-item-second {
  display: none;
}

/*Переключатель слайдов - Внешний вид переключателей*/
.slide-controls {
	position: absolute;
	top: 531px;
	right: 316px;
	z-index: 10;
}
.btn-control {
  display: inline-block;
  width: 33px;
  height: 33px;

  font-size: 0;
  background: url("img/slider-button-empty.svg") no-repeat;
  transform: scale(0.55);
  cursor: pointer;
}

input[id="slide-one"]:checked ~ .slide-controls label[for="slide-one"] {
 background: url("img/slider-button.svg") no-repeat;
}

input[id="slide-two"]:checked ~ .slide-controls label[for="slide-two"] {
 background: url("img/slider-button.svg") no-repeat;
}
input[id="slide-three"]:checked ~ .slide-controls label[for="slide-three"] {
  background: url("img/slider-button.svg") no-repeat;
}




/*Блок Категории товаров*/
.category {
	margin-bottom: 60px;
	outline: 1px dotted black;
}

/*Категории товаров - Перечень*/
.category-list {
	display: flex;
	flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    list-style: none;
}

.category-list li {
	position: relative;
	text-align: center;
	margin-right: 40px;
	margin-bottom: 100px;
	background-color: #f7e296;


}

.category-list li:nth-child(6n+6) {
	margin-right: 0;
}

/*Категории товаров - Перечень - Оформление ссылок*/
.category-list a {
	display: block;
	width: 160px;
	height: 160px;
}


.category-list a:hover {
	background-color: #f0c52e;

}

.category-list a:active img,
.category-list a:active h3 {
	opacity: 0.3;

}

.category-list h3 {
	position: absolute;
	top: 175px;
	left: 0;
	font-family: "Gilroy - Extra Bold";
	font-size: 18px;
	text-align: left;

	letter-spacing: 0.18px;
	color: #000000;

}

.category-list img  {


	margin-left: 5px;
	margin-top: 40px;



}








/*Блок Наши преимущества*/
.features {
	display: flex;
	justify-content: flex-start;
	margin-bottom: 165px;
	/*box-shadow:
				inset 0 -250px 0 0 #e5e5e5,
				0 70px 0 0 #e5e5e5;*/


	outline: 1px dotted black;
}


/*Перечень преимуществ - Левый блок */
.feature-name {

	width: 278px;
	margin-right: 115px;
	border-right: 7px solid black;
}






.feature-list {
	padding: 0;
	margin: 0;
	margin-top: 80px;
	padding-bottom: 44px;
	list-style: none;
	text-align: center;

	outline: 1px dotted black;
}

.feature-list li {

	margin-bottom: 25px;
	outline: 1px dotted black;
}

/*Перечень преимуществ - Левый блок - Оформление ссылок*/
.feature-list a {
	display: block;
	width: 160px;
	padding: 10px  0px;
	font-family: "Gilroy - Extra Bold";
	font-size: 18px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 3.65px;
	color: #000000;
	position: relative;
	z-index: 1;
}
.feature-list a::before {
	content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 160px;
    height: 9px;
    background-color: #f0c52e;
    z-index: -1;
    transform: translateY(-50%);
    transition-duration: 0.3s;
    transition-timing-function: linear;
}

.feature-list a:hover::before {
	height: 40px;
}

.feature-list a:active::before {
	width: 100%;
	background-color: black;
}

.feature-list a:active {
	padding-right: 118px;
	color: #f7e184;
}

/*Описание преимущества - Правый блок - Текст*/
.feature-slides {
	display: flex;
	margin-top: 80px;
}

.feature-description {
	width: 460px;
	margin-right: 100px;

	/*border: 1px solid black;*/
}
.feature-description h2 {
	margin-top: -5px;
	margin-bottom: 30px;
	font-family: "Gilroy - Extra Bold";
	font-size: 47px;
	line-height: 47px;
	font-weight: 400;
	letter-spacing: 1.1px;
	color: #000000;
}
.feature-description p {
	font-family: "Open Sans";
	font-size: 15px;

	line-height: 30px;
	letter-spacing: 0.15px;
	color: #464646;
}

/*Описание преимущества - Правый блок - Изображение*/
.feature-image {
	padding-top: 5px;
	text-align: center;
}





/*Блок Бренды*/

.brands {
	margin-bottom: 65px;


}

/*Перечень брендов*/
.device-brands {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	list-style: none;
}

.device-brands li {
	margin-right: 40px;
	margin-bottom: 20px;
}

.device-brands li:nth-child(4n+4) {
	margin-right: 0;
}

/*Бренды в цвете при наведении*/
.device-brands li:nth-child(1):hover img {
	background: url("img/brand-hover-1.png");
}
.device-brands li:nth-child(2):hover img {
	background: url("img/brand-hover-2.png");
}
.device-brands li:nth-child(3):hover img {
	background: url("img/brand-hover-3.png");
}
.device-brands li:nth-child(4):hover img {
	background: url("img/brand-hover-4.png");
}




/*Блок Наша компания*/
.our-company {
	display: flex;
	justify-content: space-between;
	margin-bottom: 90px;


}

/*Наша компания - О нас*/
.about-us {
	width: 480px;


}

.about-us span {
	text-transform: uppercase;
}


/*Наша компания - Контакты*/
.contacts {
	width: 560px;


}


.contacts img {
	margin-top: 8px;

	margin-bottom: 76px;
}

/*Наша компания = О нас + Контакты*/
.our-company h3 {
	margin-top: 30px;
	margin-bottom: 38px;


	font-family: "Gilroy - Extra Bold";
	font-size: 47px;
	font-weight: 400;
	letter-spacing: 0.13px;
	color: #000000;
}

.our-company p {
	margin-bottom: 30px;
	font-family: "Open Sans Light";
	letter-spacing: 0.07px;
	font-size: 15px;


	line-height: 30px;
	color: #464646;
}

/*Наша компания - Список транспортных компаний*/
.cargo {

	padding: 0;
	margin: 0;
	margin-left: 15px;
	margin-top: 65px;
	margin-bottom: 65px;
	list-style-image: url("img/list-button.png");
	font-family: "Gilroy - Extra Bold";
	font-size: 16px;
	font-weight: 400;
	line-height: 40px;
	letter-spacing: 0.3px;
	color: #000000;
}

.cargo li {
	padding-left: 20px;
}


/*Наша компания - Ссылки = Подробнее о нас + Напишите нам*/
.our-company-link {
	position: relative;
	display: block;
	width: 260px;
	padding: 0;
	padding-left: 3.65px;
	text-align: center;
	font-family: "Gilroy - Extra Bold";
	font-size: 18px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 3.65px;
	color: #000000;
}

.our-company-link::before {
	content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 260px;
    height: 9px;
    background-color: #f0c52e;
    z-index: -1;
    transform: translateY(-50%);
    transition-duration: 0.3s;
    transition-timing-function: linear;
}
.our-company-link:hover::before {
	 height: 40px;
}
.our-company-link:active::before {
	background-color: #000000;
}
.our-company-link:active {
	color: #f7e184;
}


/*Футер*/
.main-footer {
	width: 100%;
	background-color: #464646;
}

/*Футер* - Контейнер футер 1160*/
.wrapper-footer {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 1160px;
	margin: 0 auto;
	padding-top: 65px;
    color: #ffffff;
}


/*Верхний блок футера*/
.top-footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 10px;


	outline: 1px dotted black;



}

/*Верхний блок футера - Логотип Device*/
.top-footer .footer-logo {

	outline: 1px dotted black;

}

/*Верхний блок футера - Пользовательское меню*/
.top-footer .footer-user-navigation {
	display: flex;

	align-items: flex-start;

	margin: 0;
	padding: 0;
	list-style: none;

	outline: 1px dotted black;
}

.top-footer .footer-user-navigation li:not(:first-child):not(.login-out) {
	box-sizing: border-box;
	margin-bottom: 10px;
	margin-left: 43px;
}



.top-footer .footer-user-navigation a {
	font-family: "Open Sans Light";
	font-size: 15px;


	color: #ffffff;
	opacity: 0.7;

}

.footer-user-navigation li a:hover {
	opacity: 1;
}

.footer-user-navigation li a:active {
	opacity: 0.3;
}

.footer-user-navigation .login-out {
	margin-right: 0px;
	margin-left: -25px;

}


/*"Эффекты при наведении и нажатии -> ?? Как  по-другому поменять цвет иконки*/
.footer-user-navigation .login-link::before {
	background-image: url("img/user-yellow.png");
}
.footer-user-navigation .compare::before {
	background-image: url("img/compare-yellow.png");
}
.footer-user-navigation .cart::before {
	background-image: url("img/cart-yellow.png");
}


/*Средний блок футера*/
.middle-footer {
	display: flex;
	justify-content: space-between;
	align-items: center;





}


/*Средний блок футера - Адрес*/
.middle-footer .adress {
	width: 260px;
	font-family: "Open Sans Light";
	font-size: 15px;
	line-height: 30px;
	color: #ffffff;


}

/*Средний блок футера - Навигация магазина*/
.middle-footer .footer-nav {


	list-style: none;
}

.footer-nav .footer-site-navigation {
	display: flex;
	justify-content: space-between;
	align-items: baseline;


	width: 420px;
   	margin: 0;
	padding: 0;
	margin-top: 10px;

	list-style: none;


}

.footer-nav .footer-site-navigation li {


}

.footer-nav .footer-site-navigation a {
	font-family: "Gilroy - Extra Bold";
	font-size: 18px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 3.6px;
	color: #ffffff;
}



.footer-nav .footer-site-navigation a:last-child {
	margin-right: -3.6px;

}

.footer-nav .footer-site-navigation li a:hover {
	opacity: 0.6;
}

.footer-nav .footer-site-navigation li a:active {
	opacity: 0.3;
}


/*Средний блок футера - Телефон*/
.middle-footer .phone {

	width: 260px;
	font-family: "Open Sans Light";
	font-size: 15px;
	line-height: 30px;
	text-align: right;
	color: #ffffff;


}


/*Нижний блок футера*/
.bottom-footer {
	display: flex;
	justify-content: space-between;

	padding-top: 50px;
	padding-bottom: 60px;




}

/*Нижний блок футера - Линия*/
.bottom-footer .line {
	width: 100px;

}


/*Нижний блок футера - Социальные сети*/
.bottom-footer .footer-social-links {

	display: flex;
	justify-content: center;
	width: 200px;
   	margin: 0;
	padding: 0;
	list-style: none;

}


.footer-social-links li {
	margin-right: 22px;

}

.footer-social-links li:last-child {
	margin-right: 0;

}


.social-logo::before {
	display: inline-block;
	content: "";
	width: 33px;
	height: 33px;
	opacity: 0.3;
}

.footer-facebook::before {
	background: url("img/fb.svg") no-repeat;
}

.footer-instagram::before {
	background: url("img/instagram.svg") no-repeat;
}

.footer-twitter::before {
	background: url("img/twitter.svg") no-repeat;
}

.social-logo:hover::before {
	opacity: 0.6;
}

.social-logo:active::before {
	opacity: 0.1;
}


/*Нижний блок футера - Логотип HTML Academy*/
.bottom-footer .logo-academy {
	width: 100px;

	text-align: right;
}

.logo-academy a:hover {
	opacity: 0.6;
}

.logo-academy a:active {
	opacity: 0.3;
}

.footer-social-links a {
	display: inline-block;
	width: 32px;
	height: 32px;
}





/* С-Т-Р-А-Н-И-Ц-А   К-А-Т-А-Л-О-Г-А */

.catalog-header {
	padding-bottom: 50px;
}



/*Заголовок страницы Каталога */
.page-title {

	margin-left: 60px;
	margin-top: 40px;
	margin-bottom: 25px;

	font-family: "Gilroy - Extra Bold";
	font-size: 47px;
	font-weight: 800;
	line-height: 48px;
	letter-spacing: 0.77px;
	color: #000000;
}


/*Хлебные крошки*/
.breadcrumbs {
	display: flex;

	margin-bottom: 45px;
	margin-left: 60px;

	padding: 0;
	list-style: none;
}

.breadcrumbs li {
	position: relative;
	margin-right: 40px;
}

.breadcrumbs li::after {
	position: absolute;
	content: "";
	top: 8px;
	right: -25px;
	display: block;
	width: 7px;
	height: 7px;
	opacity: 1;
	background: url("img/nav-arrow.svg") no-repeat;
}


.breadcrumbs li:last-child::after {
	display: none;
}


.breadcrumbs li a {
	font-family: "Open Sans Light";
	font-size: 14px;

	line-height: 24px;
	/*letter-spacing: 0.14px;*/
	color: #000000;
	opacity: 0.3;
}


.breadcrumbs li a:hover {
	opacity: 0.6;
}

.breadcrumbs li a:active {
	opacity: 0.1;
}


/*Обертка фильтра и каталога*/
.wrapper-catalog {
	display: flex;
	justify-content: space-between;



}

/*Блок Фильтр*/

.filters {



	padding-left: 60px;
	background: #efecdf;
	box-shadow: -300px 0 0 0 #efecdf;




}

/*Блок Каталог*/
.catalog {







}



/*Фильтр Каталога*/
.header-filter,
.header-sort {
	margin: 0;
	vertical-align: middle;
	font-family: "Gilroy - Extra Bold";
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	text-transform: uppercase;
	letter-spacing: 3.91px;
	color: #000000;
}

.header-filter {
	padding: 23px 0;
	background-color: #dddace;
	box-shadow: -200px 0px 0 0px #dddace,
				-400px 0px 0 0px #dddace;
}


.filter {
	padding-right: 68px;


}



.filter fieldset {
	margin: 0;
	padding: 0;

	border: none;

	padding-top: 18px;
	padding-bottom: 31px
}



.filter-cost fieldset {
  padding-top: 25px;
  padding-bottom: 54px;

}






.filter legend {

	padding-top: 10px;

	font-family: "Gilroy - Extra Bold";
	font-size: 18px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0.18px;
	color: #000000;
}

.filter ul {
	margin: 0;
	padding: 0;
	list-style: none;


}

.filter li {


	font-family: "Open Sans";
	font-size: 14px;
	font-weight: 300;
	line-height: 40px;
	letter-spacing: 0.14px;
	color: #000000;

}


/*Фильтр по стоимости*/
.filter-cost {
	margin-top: 70px;

	border-top: 2px solid black;
	border-bottom: 2px solid black;
}

.filter-cost .cost-range {

}


.filter-color label,
.filter-bluetooth label {



}

/*Фильтр по цвету*/
.filter-color {



}

/*Фильтр по Bluetooth*/
.filter-bluetooth {

	border-top: 2px solid black;
}


/*Позиционирование кнопки -Показать- для .btn*/
.filter-button {
	position: relative;


}


/*Сортировка каталога*/
.wrapper-sort {
	display: flex;
	justify-content: flex-start;
	align-items: baseline;
	padding: 23px 0 23px 70px;
	background-color: #ebebeb;
	box-shadow: 300px 0px 0 0px #ebebeb;


}

.wrapper-sort .header-sort {
	margin-right: 50px;



}

.wrapper-sort .catalog-sort {

	display: flex;
	text-align: center;
	list-style: none;
	padding: 0;
	margin: 0;
}


.catalog-sort li {
	margin-right: 30px;



}

.catalog-sort li a {

	font-family: "Open Sans";
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
	color: #000000;
	opacity: 0.3;
}

.catalog-sort li a:hover {
	opacity: 0.6;
}

.catalog-sort li a:active,
.catalog-sort .current-select {
	opacity: 1;
}

.wrapper-sort .catalog-direction {

	display: flex;
	justify-content: flex-end;
	padding: 0;
	margin: 0;
	margin-left: auto;
	list-style: none;

}

.catalog-direction li {
	margin-left: 20px;
	text-align: right;
}


.catalog-direction li a {
	opacity: 0.2;
}

.catalog-direction li a:hover {
	opacity: 0.4;
}


.catalog-direction li a:active,
.catalog-direction .current-select {
	opacity: 1;
}



/*Каталог*/

.catalog-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	list-style: none;
	margin: 0;
	padding: 0;
	margin-top: 70px;
	margin-bottom: -10px; /*!!!*/


}


.catalog-item:nth-child(even) {
	margin-left: 40px;

}

.catalog-item {
	position: relative;
	margin-bottom: 47px;




}

/*Карточка товара*/
.catalog-item .catalog-item-description {
	display: flex;

	justify-content: space-between;
	align-items: baseline;

	padding-top: 27px;
	padding-bottom: 0;
}

.catalog-item h1 {
	width: 260px;
	margin: 0;
	padding: 0;

	font-family: "Gilroy - Extra Bold";
	font-size: 18px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0.21px;
	color: #000000;


}

.catalog-item p {


	width: 80px;
	margin: 0;
	padding: 0;

	text-align: right;
	font-family: "Gilroy";
	font-size: 16px;
	font-weight: 300;
	line-height: 24px;
	letter-spacing: 0.16px;
	color: #464646;



}




.catalog-link-image {
	position: relative;

}
/*.catalog-link-image:hover {
	background-color: #eeeeee;
	opacity: 0.7;
}*/



/*Кнопки на изображении товара */
.btn-cart {
	position: absolute;
	top: 175px;/*175*/
	left: 80px;



}




.btn-compare {
	position: absolute;
	top: 220px;
	left: 108px;
	font-family: "Open Sans";
	font-size: 13px;
	font-weight: 300;
	line-height: 36px;
	letter-spacing: 0.13px;
	color: #000000;
	opacity: 0.5;

}




/* Маркер NEW на изображении товара */
.catalog-new  {
	position: relative;

}
.catalog-new::before {
	content: "New";
	position: absolute;
	top: -340px;
	right: 23px;
	width: 60px;
	height: 60px;
	border: 2px solid #000000;
	border-radius: 50%;
	text-transform: uppercase;
	text-align: center;
	font-family: "Gilroy - Extra Bold";
	font-size: 14px;
	font-weight: 400;
	line-height: 60px;
	color: #000000;
	opacity: 0.2;

}








/*Номера страниц каталога / Пагинация*/

.pagination-list {
	display: flex;
	justify-content: center;

	margin: 0;
	padding: 0;
	padding-bottom: 75px;
	margin-left: 70px;
	list-style: none;
	background-color: #ebebeb;

}


.pagination-item {
	width: 40px;
	margin: auto 0;
	text-align: center;

	outline: 1px dotted black;
}


.pagination-before {
	width: 137px;
	margin-right: auto;

	outline: 1px dotted black;
}


.pagination-next {
	width: 137px;
	margin-left: auto;
	outline: 1px dotted black;

}



.pagination-list li a {
	font-family: "Gilroy - Extra Bold";
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	text-transform: uppercase;
	letter-spacing: 3.6px;
	color: #000000;
}


.pagination-item a {
	opacity: 0.3;
}


.pagination-item a:hover {
	opacity: 0.6;
}

.pagination-item a:active,
.pagination-item.pagination-item-current a {
	opacity: 1;
}

.pagination-before a,
.pagination-next a {
	display: inline-block;
	padding: 23px 30px;
}

.pagination-before a:hover,
.pagination-next a:hover {
	background-color: #d8d8d8;
}

.pagination-before a:active,
.pagination-next a:active {
	opacity: 0.3;
}


/* К-О-Н-Е-Ц   С-Т-Р-А-Н-И-Ц-Ы   К-А-Т-А-Л-О-Г-А */



/* М-О-Д-А-Л-Ь-Н-Ы-Е   О-К-Н-А */

/*Кнопка заыкрытия модальных окон*/
.modal-close {
	position: absolute;
	right: 0;
	background: url("img/modal-close.svg") no-repeat;
	border: 0;
	margin: 22px;
	height: 55px;
	width: 55px;
	cursor: pointer;
	opacity: 0.5;
}


.modal-close:hover {
	opacity: 1;
}


.modal-close:active {
	opacity: 0.3;
}



/*Модальное окно - Карта*/
.modal-map {
	position: relative;
	width: 960px;
	height: 559px;
	margin: 100px auto;
	background-image: url("");

	border: 1px dotted black;
}



/*Модальное окно - Напишите нам*/

.modal-message {
	position: relative;
	margin: 100px auto;
	width: 960px;
	height: 553px;

	border: 1px dotted black;
}


/*Форма Напишите нам*/
.sent-message {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	margin: 0 100px;
	margin-top: 80px;
	list-style: none;
}

.sent-message li {
	flex-grow: 1;
	padding: 20px 0;
}



.sent-message label {
    padding: 5px 0;
    font-size: 12px;
    font-family: "Gilroy - Extra Bold";
	font-size: 18px;
	font-weight: 400;
	line-height: 24px;
	color: #000000;
}

.sent-message input,
.sent-message textarea {
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    margin-top: 10px;
    padding: 10px 15px;
    border: none;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    color: #464646;
    background-color: #f2f2f2;
    opacity: 0.8;
}

.sent-message input:hover,
.sent-message textarea:hover {
	background-color: #ede9de;
}



.sent-message input:focus,
.sent-message textarea:focus {
	outline: none;
	background-color: #ffffff;
	border: 3px solid #f0c52e;
	opacity: 1;
}


.sent-message input:valid {
	background-color: #f2f2f2;
}


.sent-message input:invalid {
    background-color: #f6dada;
}




/*Поле Ваше имя*/
.feedback-name {
	margin-right: 40px;
}
/*Поле Текст письма*/
.feedback-message {
	flex-grow: 2;
	width: 100%;
}

.feedback-message textarea {
    min-height: 156px;
}


/*Поле Кнопка отправить*/
.feedback-sent  {
	position: relative;
}


.feedback-sent span,
.filter-button span,
.btn-cart span {
	position: relative;
	z-index: 10;
}

/*Кнопка отправить*/
.btn {
	width: 200px;
	padding: 10px  0px;
	background: none;
	border: none;
	font-family: "Gilroy - Extra Bold";
	font-size: 18px;
	font-weight: 400;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 3.42px;
	color: #000000;
	z-index: 1;

}


.btn::before {
	content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 200px;
    height: 9px;
    background: #f0c52e;
    z-index: 1;
    transform: translateY(-50%);
    transition-duration: 0.3s;
    transition-timing-function: linear;

}

.btn:hover::before {
	 height: 40px;
}
.btn:active::before {
	background-color: #000000;
}
.btn:active {
	color: #f7e184;
}






